#body {
	background-color: #ffbf80;
}

#table {
	background-color: #ff9933;
	margin-left: auto;
	margin-right: auto;
	width: 40%	
}

#name {
	background-color: #fff2e6
}

#liked {
	background-color: #fff2e6
}

#row1 {
	background-color: #ffcc99
}

#row2 {
	background-color:#ffa64d
}

#empty {
	background-color: #e68a00
}


