body {
	background-color: #cce0ff;
	background-image: url("austin.jpg");
	padding: 120px 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

#header {
	text-align: center;
	background-color: #ebf0fa;
	color: #47476b;
	border: solid #2e5cb8 2pt;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

td {
	padding: 15px;
	text-align: center;
	background-color: #ebf0fa;
	color: #47476b;
	border: solid #2e5cb8 1pt;
	border-radius: 20px;
}