body {
	background-image: url("computer.jpg");
}

#header {
	background-color: #99b3ff;
	text-align: center;
	border: solid black 5pt;
	border-radius: 6px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

table {
	background-color: #cce6ff;
	border: solid black 4pt;
	border-radius: 8px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

th {
	background-color: #99b3ff;
	border: solid black 2pt;
	border-radius: 4px;
	width: 50%;
}

td {
}

#button {
	background-color: #99b3ff;
	border: solid black 2pt;
	border-radius: 4px;
	color: ;
}