html{
	height:100%;
}
body {
	background-color: white;
  	margin: 0px;
  	padding: 0px;
  	font-family: "Roboto", sans-serif;
  	/* background: rgb(32,26,131);
	background: linear-gradient(270deg, rgba(32,26,131,1) 0%, rgba(72,132,181,1) 0%, rgba(97,181,217,0.6068802521008403) 29%, rgba(0,212,255,1) 100%);
	/*min-height: 100%;*/ */
	height:100%;
}

#titlehh{
  font-family: "Roboto", sans-serif;
  color:#57605f;
}

.video{
	display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.nav {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  border-bottom: 3px outset #eae7e6;
  background-color: #f4f5f5;
}

.nav li{
  float:left;
	display: inline;
  padding-left:30px;
  font-weight: bold;
}

.nav li a {
  display:inline-block;
  text-align: center;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  padding: 15px 30px;
}

.nav li a:hover {
  background-color:#93D687;

  color:white;
  font-weight: bold;
}

ul.nav li:hover > ul{
	visibility: visible;
	opacity: 1;

	display: block;
	float:none;
	margin-left: 0px;

}
ul.nav ul {


	text-align: center;
	float:none;

	visibility:hidden;
	opacity:0;
	position: absolute;
	background:#f8f8f8;
}
#subnav li{
	margin: 0;
  padding: 0;
	width:100%;
	float:none;
	display:block;
	list-style: none;

}#subnav li a:hover {
  background-color:#93D687;
	width:100%;

	text-align: left;
  color:white;
  font-weight: bold;
}


.grIcons{
  height:200px;
  width:200px;
  background-color: white;
  border-radius: 20px;
  border: outset 2px #e8e4e3;
  margin:10px;
}

#graphics{
  vertical-align: center;
  text-align: center;
  min-width: 700px;
  color:white;
}

#gr1{
  float:left;
  background-color: #2f383d;
}

#gr2{
  display:inline-block;
  background-color: #2f383d;
}

#gr3{
  float:right;
  background-color: #2f383d;
}

#container {
  	height:100%;
	color: #333;
	background-color: #fff;
}

#top {
	padding: .5em;
	background-color: white;
  	border-bottom: 3px solid #eae7e6;
}

#top h1 {
	padding: 0;
	margin: .5em;
	font-size: 50px;
	text-align:center;
}

#leftnav {
  	background-color: #e6e6e6;
  	float: left;
  	height:1800px;
	width: 200px;
	margin: 0;
	padding: 2em;
}

#rightnav {
  	background-color: #e6e6e6;
  	height:1800px;
	float: right;
	width: 180px;
	margin: 0;
	padding: 2em;

}

#content {
	/*margin-left: 5%;
	margin-right: 5%;
	height: 1800px;
  	padding: 2em;

  	*/margin-left: 200px;
	/*margin-right: 200px;*/
	height: 1600px;
	padding-top: 2em;
  	padding: 5em;

}

#content img {
	float:right;
	margin-left: 10px;
}

#content h2 {
	margin: 0 0 .5em 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;

}

.headline {
	padding: 1em;
}

#bottom p{
	margin-left: 20px;
}

#footer {
	margin-bottom: 0px;
	text-align: center;
	/*padding: .1em;*/
	color: #333;
	background-color: white;
	border-top: 1px solid gray;
}

#leftnav p{
	margin: 0 0 1em 0;
  	line-height: 200%
}

#contactBody {
	background-color: white;
	text-align: center;
}

.modules {
	margin: 0 auto;
	width: 50%;
	background-color: #f2ffe6;
	border: solid #009900 2pt;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.modulesExercise{
	margin: 0 auto;
	width: 50%;
	background-color: #f2ffe6;
	border: solid #009900 2pt;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 100%;
}

.modulesExercise h3{
	text-align: center;
}

.modulesExercise table{
	margin-left: auto;
	margin-right: auto;
}

.MainExerciseList{
	padding-inline-start: 70px;
	list-style-type: square;
}

.SubExerciseList{
	list-style-type: disc;
}

#titlehh{
  font-family: "Oswald", sans-serif;
  color:#57605f;
}

#logo {
	width: 100px;
	height: 100px;
  	vertical-align: center;
	float: left;
}

#headline h2{
	font-weight: bold;
}

#planForm {
	text-align: center;
	align-items: center;
}
.planButton{

	cursor: pointer;
	padding: 8px 16px;
	margin: 4px 4px;
	border-radius: 3px;
}

#about{
font-family: Oswald;
}
